extends layout

block content
  h1= title
  p Welcome to #{title}

  hr
  a(href='/') Index / Home 
  br 
  a(href='/users') Users 
  br
  a(href='/users/list/province') Users/List/Province ( must have DB mysql , still not add )
